<div>
  <div class="buttonGroup" *ngIf="action == 0">
    <h2>CRUD de Usuario</h2>
    <div>
      <button (click)="action = 1">Buscar usuario</button>
      <button (click)="action = 2">Listar todos los usuarios</button>
      <button (click)="action = 3">Crear usuario</button>
      <button (click)="action = 4">Actualizar usuario</button>
      <button (click)="action = 5">Eliminar usuario</button>
    </div>
  </div>

  <div id="actions" *ngIf="action != 0">
    <div *ngIf="action == 1">
      <app-user-find></app-user-find>
    </div>
    <div *ngIf="action == 2">
      <app-user-list></app-user-list>
    </div>
    <div *ngIf="action == 3">
      <app-user-create></app-user-create>
    </div>
    <div *ngIf="action == 4">
      <app-user-update></app-user-update>
    </div>
    <div *ngIf="action == 5">
      <app-user-delete></app-user-delete>
    </div>
  </div>

  <div>
    <button *ngIf="action!=0" (click)="action = 0">Regresar</button>
  </div>

</div>
